<!DOCTYPE html>
<html>
	<head>
		<title>The Quiver Shack</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery.validate.min.js"></script>
	</head>
	<body>
		<img id="splash-img"src="/images/quiver-bg-image.JPG" alt="The Quiver Shack" title="The Quiver Shack" />
		<div id="sign-up">
			<%= render 'form' %> <!--<div id="submit" class>
			<span>Submit</span>
			</div>-->
		</div>
	</body>
</html>
